

.displayFrame {
    touch-action: none;
    border-radius: 25px;
    width: 68.9em;
    height: 23.1em;
    margin: auto;
    text-align: center;
    background-color: #eaebec;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 1;
    caret-color: transparent;
    display: flex;
}

.lisplayFrame::-webkit-scrollbar {
    display: none;
}

.leftArrow {
    position: absolute;
    left: 1%;
    padding-left: 2px;
    padding-right: 2px;
    font-size: xx-large;
    color: #aabbcc;
    user-select: none;
    z-index: 2;
}

.leftArrow:hover {
    color: #bbccdd;
}

.leftArrow:active {
    color: #206ebd;
}

.rightArrow {
    position: absolute;
    right: 1%;
    padding-left: 2px;
    padding-right: 2px;
    font-size: xx-large;
    color: #aabbcc;
    user-select: none;
    z-index: 2;
}

.rightArrow:hover {
    color: #bbccdd
}

.rightArrow:active {
    color: #206ebd
}

.container {
    position: relative;
    display: flex;
    vertical-align: middle;
    overflow: hidden;
    width: 100%;
    align-items: center;
}

.CarouselItem {
    touch-action: none;
    height: 100%;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-right: .1%;
    transition: all 500ms linear;
}

.CarouselItem img {
    height: 100%;
    background-color: none;
    width: 100%;
    object-fit: cover;
}


@media screen and (min-width: 250px) and (max-width: 540px)
{
    
    .container {
        width: 80%;
    }
    
}