.banner {
    height: 12.4em;
    margin-bottom: 5.5em;
    display: flex;
    justify-content: center;
}

.banner-kasa {
    border-radius: 25px;
    filter: brightness(0.75);
    object-fit: cover;
    position: absolute;
}

.title-kasa {
    color: white;
    z-index: 1;
    font-weight: 500;
    margin: 2.43em 0 2.43em 0;
}

@media screen and (min-width: 250px) and (max-width: 540px)
{
    
    .banner {
        height: 6.2em;
        margin-bottom: 1.2em;
        
    }

    .banner-kasa {
        width: 18.5em;
        height: 6.2em;
        border-radius: 10px;
    }

    .title-kasa {
        width: 80%;
        font-size: 24px;
        margin: 0.9em 0 0.9em 0;
    }
}
