header {
    display: flex;
    justify-content: space-between;
}

.cardSection {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
}

@media screen and (min-width: 250px) and (max-width: 540px)
{
    .cardSection {
        width: auto;
    }   
}