
ul {
    text-decoration: none;
    display: flex;
}

.link {
    list-style-type: none;
    color: #FF6060;
    font-size: 24px;
}

@media screen and (min-width: 250px) and (max-width: 540px)
{
    nav {
        margin: 2.1em 1.1em;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    .link {
        font-size: 12px;
        width: 5em;
    }
}